<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="smtpserverName" value="smtp.gamil.com"/>
    <add key="senderMail" value="prabuganesh440@gmail.com"/>
    <add key ="mailPassword" value="prabuvikram"/>
    <add key="emailList" value="priyadharshinid@metaplore.com,kiruthikaa@metaplore.com"/>
    <add key="portNumber" value="465"/>
  
    <!--DB Local machine Syunc Location-->
    <add key="Local_Machine" value="JDM"/>
    <add key="logpath" value="C:/LOGS/"/>
    <!--<add key="Local_Machine" value="CHN"/>
    <add key="Local_Machine" value="BNG"/>-->
    <!--<add key="Local_Machine" value=""/>-->
    
  </appSettings>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>

  </entityFramework>
</configuration>